# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives covered in this exercise:**
- List popular languages
- List commonly used libraries
- Some exercises about arithmetic expressions

## Author:
MÃ³nica Torres

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
|---------|
|RStudio|
|Jupyter Notebook|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply
(3*4)+5

17

In [4]:
# convert to hours
200/60

3.3333333333333335